.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  text-align: center;

  }
  .App h1 {  font-family: 'Arvo', serif;  }
  .App .div1 { grid-area: 1 / 1 / 2 / 6; }
  .App .div2 { grid-area: 2 / 1 / 6 / 3; }
  .App .div3 { grid-area: 2 / 3 / 4 / 6; }
  .App .div4{ grid-area: 4 / 3 / 6 / 6; }